html {
    box-sizing: border-box;
}

h1 {
    font-size: 175%;
    text-align: center;
}

div.responsive {
    float: left;
}

section {
    position: relative;
    margin: 15px;
    padding: 35px 5px 5px 5px;
    border: solid 1px black;
    background-color: lightgrey;
}

p {
    text-align: justify;
    margin: 0;
    padding: 8px;
}

.section-title {
    position: absolute;
    padding: 3px;
    top: 0;
    right: 0;
    width: 150px;
    text-align: center;
    font-size: 125%;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}

.pink {
    background-color: pink;
}
.red {
    background-color: maroon;
    color: white;
}
.yellow {
    background-color: burlywood;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}